<html>
    <head>
    <meta charset='utf-8' />
    <style>

        @import 'https://fonts.googleapis.com/css?family=Times+New+Roman';

        .caixaFicha
        {
            box-sizing: border-box;
            border: 1px solid black ;
            font-family: 'Times New Roman';
            font-size: 11pt; 
            margin: auto;
            width: 15.6cm !important;
            min-height: 8.4cm; 
            max-height: 283.5px;
            line-height: 1.7rem;
        }

        .msgCatalogacao
        {
            font-family: 'Times New Roman';
            font-size: 14pt; 
            font: bold;
            text-align: center;
            margin: 0px;
            line-height: 1.2rem;
        }

        .tab {
            font-family: 'Times New Roman';
            font-size: 12pt; 
            display: inline-block;
            margin-left: 2.5cm;
            margin-bottom: 0cm;
            margin-top: 0cm;
            margin-right: 1cm;            
            line-height: 1rem;
        }

        .segtab {
            font-family: 'Times New Roman';
            font-size:12pt; 
            display: inline-block;
            margin-left: 2.5cm;
            margin-bottom: 0cm;
            margin-top: 0cm;
            margin-right: 1cm;  
            line-height: 1rem;
            text-indent: 20px;
        }

        .tertab {
            font-family: 'Times New Roman';
            font-size:12pt; 
            display: inline-block;
            margin-left: 2.5cm;
            margin-bottom: 0cm;
            margin-top: 0cm;
            margin-right: 1cm;  
            line-height: 1rem;
            text-indent: 20px;
        }

    </style>
    </head>

    <body>

        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>



        <p class="msgCatalogacao">CATALOGAÇÃO NA PUBLICAÇÃO (CIP)</p>        
        <p class="msgCatalogacao">Serviço de Biblioteca e informação Biomédica </p>
        <p class="msgCatalogacao"> do Instituto de Ciências Biomédicas da Universidade de São Paulo</p>
        <br>
        <p class="msgCatalogacao">Ficha Catalográfica elaborada pelo(a) autor(a)</p>
        <br>
        <div class="col-8 caixaFicha ">
                <br>
                <!-- p class="tab"><%= @ficha.sobrenome %>, <%= @ficha.nome %> </p -->

                <p class="tab"><%= @ficha.sobrenome %>, <%= @ficha.nome %></p>
                <p class="segtab"> 
                <%= @ficha.titulo %> / <%= @ficha.nome %> <%= @ficha.sobrenome %>; 
                <%= @ficha.orientadora == true ? "orientadora " : "orientador " %><%= @ficha.nomeorient %> <%= @ficha.sobrenomeorient %><%= @ficha.nomecoorient == "" ? ". " : "; " %>
                <% if @ficha.nomecoorient != "" %>                 
                    <%= @ficha.coorientadora == true ? "coorientadora " : "coorientador " %><%= @ficha.nomecoorient %> <%= @ficha.sobrenomecoorient %>.
                <% end %>-- São Paulo, <%= @ficha.ano %>.
                </p>
                <p class="tertab"><%= @ficha.numpagina %> p.</p>

                <br>
                <br>

                <p class="segtab"> 
                <% tipotrabsel = "" %>
                <% if @ficha.tipotrabalho == "TCC" %>
                    <% tipotrabsel = "Trabalho de Conclusão de Curso (Graduação)" %>
                <% elsif @ficha.tipotrabalho == "DIS" %>
                    <% tipotrabsel = "Dissertação (Mestrado)" %>
                <% elsif @ficha.tipotrabalho == "DIP" %>
                    <% tipotrabsel = "Dissertação (Mestrado Profissional)" %>                    
                <% elsif @ficha.tipotrabalho == "DOU" %>
                    <% tipotrabsel = "Tese (Doutorado)" %>
                <% elsif @ficha.tipotrabalho == "LD" %>
                    <% tipotrabsel = "Tese (Livre-docência)" %>
                <% elsif @ficha.tipotrabalho == "M" %>
                    <% tipotrabsel = "Memorial (Professor Titular)" %>                    
                <% end %>
                <%= tipotrabsel%> -- Universidade de São Paulo, Instituto de Ciências Biomédicas.
                </p>

                <br>
                <br>
                <p class="segtab"> 
                <% if @ficha.assunto1 != "" %>
                    1.&emsp;<%= @ficha.assunto1.rstrip %>.&nbsp;
                <% end %>
                <% if @ficha.assunto2 != "" %>
                    2.&emsp;<%= @ficha.assunto2.rstrip %>.&nbsp;
                <% end %>
                <% if @ficha.assunto3 != "" %>
                    3.&emsp;<%= @ficha.assunto3.rstrip %>.&nbsp;
                <% end %>
                <% if @ficha.assunto4 != "" %>
                    4.&emsp;<%= @ficha.assunto4.rstrip %>.&nbsp;
                <% end %>      
                <% if @ficha.assunto5 != "" %>
                    5.&emsp;<%= @ficha.assunto5.rstrip %>.&nbsp;
                <% end %>   
                    I.&emsp;<%= @ficha.sobrenomeorient %>, <%= @ficha.nomeorient %>,
                    <%= @ficha.orientadora == true ? "orientadora" : "orientador" %>.&nbsp;
                    <% if @ficha.nomecoorient != "" %>
                        II.&emsp;<%= @ficha.sobrenomecoorient %>, 
                        <%= @ficha.nomecoorient %>, <%= @ficha.coorientadora == true ? "coorientadora." : "coorientador." %>&nbsp;
                        III.&emsp;Título. 
                    <% else %>
                        II.&emsp;Título. 
                    <% end %> 
                </p>
            <br>
        </div>
    </body>

</html>